@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hide default scrollbar for Chrome, Safari and Opera */
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

/* Hide default scrollbar for IE, Edge and Firefox */
.overflow-y-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  height: 0.1px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 0, 0, 0.15); */
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox scrollbar styling */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

.dropdown-scrollbar::-webkit-scrollbar {
  display: none;
}

.th-underline {
  transition: opacity 0.2s ease;
}

.dropdown-transition {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
